<li>
  <%= gravatar_for user, size: Settings.avatarsizeshow %>
  <%= link_to user.name, user %>
  <% if admin?(current_user) && !current_user?(user) && !admin?(user) %>
    | <%= link_to t(".delete"), user, method: :delete, data: {confirm: t(".yousure")} %>
    | <%= link_to t(".edit"), edit_user_path(user)  %>
  <% end %>
</li>
