<% provide :title, t(".title") %>
<% provide :button_text, t(".title") %>
<div class="page-header">
  <h1><%= t ".title" %></h1>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for [:trainer, @course], html: {id: :form_id } do |f| %>
    <%= render "shared/error_messages", object: @course %>
      <% render "course_form", f: f %>
    <% end %>
  </div>
</div>
